<mat-card>
  <div class="grid">
    <div class="col-9 col-m-8 col-s-12">
      <p>Ovaj dio aplikacije namjenjen je pračenju nuspojava cjepljenja. Pojedina nuspojava može se prijaviti više puta.</p>
      <p class="m-t-s">Molimo vas da svaku nuspojavu koju primjetite i prijavite.</p>
    </div>
    <div class="col-3 col-m-4 col-s-12 ta-center">
      <button mat-stroked-button color="primary" (click)="add()">Prijavi Simptom</button>
    </div>
  </div>
</mat-card>

<div class="m-t-m">
  <table mat-table [dataSource]="symptoms">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Tip Simptoma</th>
      <td mat-cell *matCellDef="let element" data-label="Tip Simptoma">{{element.data.type}}</td>
    </ng-container>
    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef>Početak</th>
      <td mat-cell *matCellDef="let element" data-label="Početak">{{element.data.createdOn | date:'dd/MM/yy HH:mm'}}</td>
    </ng-container>
    <ng-container matColumnDef="endedOn">
      <th mat-header-cell *matHeaderCellDef>Kraj</th>
      <td mat-cell *matCellDef="let element" data-label="Kraj">{{element.data.endedOn | date:'dd/MM/yy HH:mm'}}</td>
    </ng-container>
    <ng-container matColumnDef="intensity">
      <th mat-header-cell *matHeaderCellDef>Intenzitet</th>
      <td mat-cell *matCellDef="let element" data-label="Intenziter">{{element.data.intensity}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Akcije</th>
      <td mat-cell *matCellDef="let element; index as index;" data-label="Akcije">
        <button mat-icon-button matTooltip="Uredi" (click)="edit(element, index)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Obriši" color="warn" (click)="delete(element.ref, index)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>

  <p class="m-y-s p-a-m ta-center" *ngIf="symptoms && !symptoms.length">
    Trenutno nemate prijavljenih simptoma.
  </p>
</div>
