.decorator {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--primary-theme);
}

.logo {
  width: 300px;
  margin: 2rem 0;
}

section {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    max-width: 500px;
  }
}
