<mat-toolbar role="heading" color="primary" class="sticky-header">
  <span>Dashboard</span>
  <div class="flex-1"></div>
</mat-toolbar>

<section class="grid">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome</mat-card-title>
      </mat-card-header>

      <mat-card-content>
      </mat-card-content>

      <mat-card-actions class="ta-right">
        <a mat-button href="" target="_blank" rel="nofollow">View App</a>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
