<div class="decorator"></div>

<section>
  <mat-card>
    <form [formGroup]="form">

      <img class="logo" src="assets/logo.svg" alt="Logo" />

      <h2 class="m-b-m">Simptom Traker | Prijava</h2>

      <mat-form-field class="w-full">
        <mat-label>Istraživanje</mat-label>
        <mat-select formControlName="research">
          <mat-option *ngFor="let research of researches" [value]="research.id">
            {{research.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Identifikator</mat-label>
        <input autofocus matInput formControlName="id"/>
        <span matPrefix class="p-x-s" *ngIf="research.value">{{prefixes[research.value]}}-</span>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Lozinka</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <div class="m-t-s">
        <button
          mat-stroked-button
          color="primary"
          [disabled]="form.invalid"
          [jpLoadClick]="login()">
          Prijava
        </button>
      </div>

      <p class="m-t-m">Nemate račun? <a class="link" routerLink="/register">Registrirajte se</a></p>
    </form>
  </mat-card>
</section>
